@import "@fontsource/montserrat";
@import "tailwindcss";


:root {
  --background: #FDFDFD;
  --foreground: #242424;
}

@theme {
  --color-primary: #367B5D;
  --color-secondary: #7A7A7A;
  --color-tertiary: #AFAFAF;
  --color-quaternary: #CECECE;
  --color-black: #242424;
  --color-white: #FDFDFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #FDFDFD;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}
